[Unit]
Description=Momo WebRTC Server
After=network.target

[Service]
User=root
Type=simple
WorkingDirectory=/opt/momo
ExecStart=./momo --no-audio-device test
Restart=yes

[Install]
WantedBy=multi-user.target